In [266]:
import numpy as np
import pandas as pd
from sklearn import tree

In [267]:
DatasetIris = pd.read_csv('klasifikasi_iris_modif.csv',
                             delimiter=';', header=0)

In [268]:
DatasetIris.head()

   Id  SepalLengthCm  ...  PetalWidthCm            Jenis
0  99          10.03  ...          2.03  Iris-versicolor
1  98          26.15  ...          2.00  Iris-versicolor
2  97          66.23  ...          1.09  Iris-versicolor
3  96          43.74  ...          2.02  Iris-versicolor
4  95          76.27  ...          2.05  Iris-versicolor

[5 rows x 6 columns]

In [269]:
DatasetIris["Jenis"] = pd.factorize(DatasetIris.Jenis)[0]

In [270]:
DatasetIris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Jenis
0  99          10.03          3.04           5.04          2.03      0
1  98          26.15          3.00           5.02          2.00      0
2  97          66.23          2.05           5.00          1.09      0
3  96          43.74          2.08           5.06          2.02      0
4  95          76.27          3.03           5.07          2.05      0

In [271]:
print(DatasetIris)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Jenis
0    99          10.03          3.04           5.04          2.03      0
1    98          26.15          3.00           5.02          2.00      0
2    97          66.23          2.05           5.00          1.09      0
3    96          43.74          2.08           5.06          2.02      0
4    95          76.27          3.03           5.07          2.05      0
..  ...            ...           ...            ...           ...    ...
95   12           5.09          3.00           4.02          1.05      0
96   11          36.52          2.08           4.07          1.02      0
97  100           5.09          3.00           5.01          1.08      0
98   10           5.02          2.07           3.09          1.04      0
99    1          27.00         53.02           4.07          1.04      0

[100 rows x 6 columns]

In [272]:
DatasetIris = DatasetIris.drop(labels="Id", axis=1)

In [273]:
print(DatasetIris)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Jenis
0           10.03          3.04           5.04          2.03      0
1           26.15          3.00           5.02          2.00      0
2           66.23          2.05           5.00          1.09      0
3           43.74          2.08           5.06          2.02      0
4           76.27          3.03           5.07          2.05      0
..            ...           ...            ...           ...    ...
95           5.09          3.00           4.02          1.05      0
96          36.52          2.08           4.07          1.02      0
97           5.09          3.00           5.01          1.08      0
98           5.02          2.07           3.09          1.04      0
99          27.00         53.02           4.07          1.04      0

[100 rows x 5 columns]

In [274]:
DatasetIris = DatasetIris.to_numpy()

In [275]:
print(DatasetIris)

[[10.03  3.04  5.04  2.03  0.  ]
 [26.15  3.    5.02  2.    0.  ]
 [66.23  2.05  5.    1.09  0.  ]
 [43.74  2.08  5.06  2.02  0.  ]
 [76.27  3.03  5.07  2.05  0.  ]
 [46.58  3.02  5.09  2.03  1.  ]
 [35.88  2.07  5.01  1.09  0.  ]
 [76.59  3.01  5.01  2.03  0.  ]
 [56.89  3.01  5.06  2.04  1.  ]
 [45.54  3.01  5.04  2.01  1.  ]
 [34.39  2.09  4.06  1.03  0.  ]
 [63.   33.    4.08  1.08  1.  ]
 [57.76  3.01  5.05  1.08  1.  ]
 [35.62  3.04  5.06  2.04  1.  ]
 [45.87  3.    6.01  2.03  1.  ]
 [35.96  2.06  5.06  1.04  0.  ]
 [76.27  2.08  5.01  1.05  1.  ]
 [43.74  2.08  5.06  2.02  1.  ]
 [53.64  3.08  6.04  2.    1.  ]
 [52.54  2.08  6.01  1.09  1.  ]
 [42.54  3.    5.08  1.06  1.  ]
 [25.69  2.04  3.03  1.    0.  ]
 [52.13  2.08  5.06  2.01  1.  ]
 [42.65  3.    4.09  1.08  1.  ]
 [53.63  2.08  4.08  1.08  1.  ]
 [42.67  3.02  6.    1.08  1.  ]
 [53.17  3.03  5.07  2.01  1.  ]
 [ 6.03  2.07  4.09  1.08  1.  ]
 [76.27  2.08  6.07  2.    1.  ]
 [ 5.06  2.08  4.09  2.    1.  ]
 [ 6.09  3.02  5.07  2.03  1.  ]
 [ 6.    2.02  5.    1.05  1.  ]
 [ 6.03  3.03  4.07  1.06  0.  ]
 [ 7.07  2.06  6.09  2.03  1.  ]
 [ 7.07  3.08  6.07  2.02  1.  ]
 [ 6.05  3.    5.05  1.08  1.  ]
 [ 6.04  3.02  5.03  2.03  1.  ]
 [ 5.08  2.08  5.01  2.04  1.  ]
 [ 5.07  2.05  5.    2.    0.  ]
 [ 6.08  3.    5.05  2.01  1.  ]
 [ 6.04  2.07  5.03  1.09  1.  ]
 [ 6.05  3.02  5.01  2.    0.  ]
 [ 7.02  3.06  6.01  2.05  1.  ]
 [ 5.07  2.08  4.05  1.03  0.  ]
 [ 6.07  2.05  5.08  1.08  1.  ]
 [ 7.03  2.09  6.03  1.08  1.  ]
 [ 4.09  2.05  4.05  1.07  1.  ]
 [ 7.06  3.    6.06  2.01  1.  ]
 [ 6.05  3.    5.08  2.02  1.  ]
 [46.33  2.09  5.06  1.08  1.  ]
 [47.71  3.    5.09  2.01  1.  ]
 [ 5.08  2.07  5.01  1.09  1.  ]
 [ 6.03  3.03  6.    2.05  1.  ]
 [ 5.07  2.08  4.01  1.03  0.  ]
 [ 6.35  5.08  4.06  1.05  0.  ]
 [ 9.04  2.05  3.    1.01  0.  ]
 [76.27  2.09  4.03  1.03  1.  ]
 [ 5.07  2.09  4.02  1.03  0.  ]
 [ 2.04  3.    4.02  1.02  0.  ]
 [ 3.03  2.07  4.02  1.03  0.  ]
 [ 5.   25.64  3.03  1.    0.  ]
 [ 5.08  2.06  4.    1.02  0.  ]
 [ 6.01  3.    4.06  1.04  0.  ]
 [ 5.05  2.06  4.04  1.02  0.  ]
 [ 5.05  2.05  4.    1.03  0.  ]
 [ 5.05  2.03  4.    1.03  1.  ]
 [ 5.06  3.    4.01  1.03  0.  ]
 [76.53  2.03  4.04  1.03  1.  ]
 [89.67  3.01  4.07  1.05  1.  ]
 [ 6.    3.04  4.05  1.06  1.  ]
 [45.24  3.    4.05  1.05  1.  ]
 [ 6.   90.07  5.01  1.06  0.  ]
 [ 5.08  2.07  3.09  1.02  0.  ]
 [ 5.05  2.04  3.07  1.    0.  ]
 [63.05 43.04  3.08  1.01  0.  ]
 [ 5.07  2.06  3.05  1.    0.  ]
 [46.46  3.01  4.09  1.05  0.  ]
 [ 6.    2.09  4.05  1.05  1.  ]
 [16.87  3.    5.    1.07  0.  ]
 [86.48  2.08  4.08  1.04  0.  ]
 [36.56  3.    4.04  1.04  0.  ]
 [ 6.04  2.09  4.03  1.03  0.  ]
 [36.52  2.08  4.07  1.02  0.  ]
 [86.78 53.05  4.09  1.05  1.  ]
 [76.27  2.08  4.    1.03  0.  ]
 [ 5.34  3.02  4.08  1.08  0.  ]
 [ 5.06  2.05  3.09  1.01  1.  ]
 [ 6.04  3.02  4.05  1.05  0.  ]
 [36.46  2.02  4.05  1.05  0.  ]
 [87.45  2.07  4.01  1.    0.  ]
 [ 5.06  3.    4.05  1.05  0.  ]
 [43.46  3.01  4.04  1.04  1.  ]
 [76.27  2.09  3.06  1.03  0.  ]
 [ 6.01  2.09  4.07  1.04  0.  ]
 [76.59  3.01  5.01  2.03  0.  ]
 [ 5.09  3.    4.02  1.05  0.  ]
 [36.52  2.08  4.07  1.02  0.  ]
 [ 5.09  3.    5.01  1.08  0.  ]
 [ 5.02  2.07  3.09  1.04  0.  ]
 [27.   53.02  4.07  1.04  0.  ]]

In [276]:
#membagi dataset, 40 baris data untuk training dan 20 baris data untuk testing
dataTraining = np.concatenate((DatasetIris[0:20,:],
                               DatasetIris[30:90,:]), axis=0)
dataTesting = np.concatenate((DatasetIris[10:90,:],
                               DatasetIris[100:1,:]), axis=0)

In [277]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:,0:4]
labelTraining = dataTraining[:,4]
labelTesting = dataTesting[:, 4]

In [278]:
print(dataTesting)
len(dataTesting)

[[34.39  2.09  4.06  1.03  0.  ]
 [63.   33.    4.08  1.08  1.  ]
 [57.76  3.01  5.05  1.08  1.  ]
 [35.62  3.04  5.06  2.04  1.  ]
 [45.87  3.    6.01  2.03  1.  ]
 [35.96  2.06  5.06  1.04  0.  ]
 [76.27  2.08  5.01  1.05  1.  ]
 [43.74  2.08  5.06  2.02  1.  ]
 [53.64  3.08  6.04  2.    1.  ]
 [52.54  2.08  6.01  1.09  1.  ]
 [42.54  3.    5.08  1.06  1.  ]
 [25.69  2.04  3.03  1.    0.  ]
 [52.13  2.08  5.06  2.01  1.  ]
 [42.65  3.    4.09  1.08  1.  ]
 [53.63  2.08  4.08  1.08  1.  ]
 [42.67  3.02  6.    1.08  1.  ]
 [53.17  3.03  5.07  2.01  1.  ]
 [ 6.03  2.07  4.09  1.08  1.  ]
 [76.27  2.08  6.07  2.    1.  ]
 [ 5.06  2.08  4.09  2.    1.  ]
 [ 6.09  3.02  5.07  2.03  1.  ]
 [ 6.    2.02  5.    1.05  1.  ]
 [ 6.03  3.03  4.07  1.06  0.  ]
 [ 7.07  2.06  6.09  2.03  1.  ]
 [ 7.07  3.08  6.07  2.02  1.  ]
 [ 6.05  3.    5.05  1.08  1.  ]
 [ 6.04  3.02  5.03  2.03  1.  ]
 [ 5.08  2.08  5.01  2.04  1.  ]
 [ 5.07  2.05  5.    2.    0.  ]
 [ 6.08  3.    5.05  2.01  1.  ]
 [ 6.04  2.07  5.03  1.09  1.  ]
 [ 6.05  3.02  5.01  2.    0.  ]
 [ 7.02  3.06  6.01  2.05  1.  ]
 [ 5.07  2.08  4.05  1.03  0.  ]
 [ 6.07  2.05  5.08  1.08  1.  ]
 [ 7.03  2.09  6.03  1.08  1.  ]
 [ 4.09  2.05  4.05  1.07  1.  ]
 [ 7.06  3.    6.06  2.01  1.  ]
 [ 6.05  3.    5.08  2.02  1.  ]
 [46.33  2.09  5.06  1.08  1.  ]
 [47.71  3.    5.09  2.01  1.  ]
 [ 5.08  2.07  5.01  1.09  1.  ]
 [ 6.03  3.03  6.    2.05  1.  ]
 [ 5.07  2.08  4.01  1.03  0.  ]
 [ 6.35  5.08  4.06  1.05  0.  ]
 [ 9.04  2.05  3.    1.01  0.  ]
 [76.27  2.09  4.03  1.03  1.  ]
 [ 5.07  2.09  4.02  1.03  0.  ]
 [ 2.04  3.    4.02  1.02  0.  ]
 [ 3.03  2.07  4.02  1.03  0.  ]
 [ 5.   25.64  3.03  1.    0.  ]
 [ 5.08  2.06  4.    1.02  0.  ]
 [ 6.01  3.    4.06  1.04  0.  ]
 [ 5.05  2.06  4.04  1.02  0.  ]
 [ 5.05  2.05  4.    1.03  0.  ]
 [ 5.05  2.03  4.    1.03  1.  ]
 [ 5.06  3.    4.01  1.03  0.  ]
 [76.53  2.03  4.04  1.03  1.  ]
 [89.67  3.01  4.07  1.05  1.  ]
 [ 6.    3.04  4.05  1.06  1.  ]
 [45.24  3.    4.05  1.05  1.  ]
 [ 6.   90.07  5.01  1.06  0.  ]
 [ 5.08  2.07  3.09  1.02  0.  ]
 [ 5.05  2.04  3.07  1.    0.  ]
 [63.05 43.04  3.08  1.01  0.  ]
 [ 5.07  2.06  3.05  1.    0.  ]
 [46.46  3.01  4.09  1.05  0.  ]
 [ 6.    2.09  4.05  1.05  1.  ]
 [16.87  3.    5.    1.07  0.  ]
 [86.48  2.08  4.08  1.04  0.  ]
 [36.56  3.    4.04  1.04  0.  ]
 [ 6.04  2.09  4.03  1.03  0.  ]
 [36.52  2.08  4.07  1.02  0.  ]
 [86.78 53.05  4.09  1.05  1.  ]
 [76.27  2.08  4.    1.03  0.  ]
 [ 5.34  3.02  4.08  1.08  0.  ]
 [ 5.06  2.05  3.09  1.01  1.  ]
 [ 6.04  3.02  4.05  1.05  0.  ]
 [36.46  2.02  4.05  1.05  0.  ]
 [87.45  2.07  4.01  1.    0.  ]]

80

In [279]:
model = tree.DecisionTreeClassifier()

In [280]:
model = model.fit(inputTraining, labelTraining)

In [281]:
hasilPrediksi = model.predict(inputTesting)
print("label sebenarnya ", labelTesting)
print("hasil prediksi: ", hasilPrediksi)

label sebenarnya  [0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 0. 0. 0.]
hasil prediksi:  [0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1.
 1. 1. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 0. 0. 0.]

In [282]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("prediksi benar: ", prediksiBenar, " data")
print("prediksi salah: ", prediksiSalah, " data")
print("akurasi: ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

prediksi benar:  73  data
prediksi salah:  7  data
akurasi:  91.25 %